.section{
	background-color: #333;
}

.text-center{
	text-align: center;
}
.sticky{
	font-family: Handwritten;
	background-color: #ffff88;
	border: 1px solid #ffff66;
	padding: 5px;
}
.sticky-preview{
	font-family: Handwritten;
	background-color: #ffff88;
	border: 1px solid #ffff66;
	padding: 5px;
}
