<div layout-margin>
  <h3 class="text-center">{{vm.board.name||"Board Name"}}</h3>
  <div layout="row" layout-wrap  layout-align="center start" >
  <div flex="30" dnd-drop="vm.dropCallback(event, index, item, external, type, 'itemType')" dnd-list="section.data" class="md-whiteframe-2dp" layout-margin ng-repeat="section in vm.board.type.section">
    <div layout-align="center">
      {{section.name}} 
    </div>
      <div layout="row" flex  layout-wrap>
        <md-card dnd-draggable="sticky"
        dnd-moved="section.data.splice($index, 1)"
        dnd-effect-allowed="move"
 flex="45" class="md-card sticky" ng-repeat="sticky in section.data" >
          <md-card-content>
            <textarea layout-fill class="typing" ng-model="sticky.text" elastic></textarea>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end end">
            <md-button class="md-icon-button"><md-icon md-font-icon="fa fa-heart"></md-icon></md-button>
          </md-card-actions>
        </md-card>
        <md-button flex class="addMore" md-no-ink ng-click="vm.addSticky(section.data)"><md-icon md-font-icon="fa fa-plus"></md-icon></md-button></md-button>
      </div>
      
    </div>
  </div>
</div>
